index.html
<!DOCTYPE html>
<html>
  <head>
    <title>TrailCharger Calculator</title>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- jQuery -->
    <script src='./js/jquery-1.11.0.min.js'></script>
    <!-- Latest compiled and minified CSS -->
    <link href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' rel='stylesheet'>
    <!-- Optional theme -->
    <link href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css' rel='stylesheet'>
    <!-- Latest compiled and minified JavaScript -->
    <script src='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'></script>
    <!-- Bootstrap Slider -->
    <link href='./css/bootstrap-slider.css' rel='stylesheet'>
    <script src='./js/bootstrap-slider.js'></script>
    <!-- Bootstrap Switch -->
    <link href='./css/bootstrap-switch.min.css' rel='stylesheet'>
    <script src='./js/bootstrap-switch.min.js'></script>
    <!-- Custom style -->
    <link href='./css/style.css' rel='stylesheet'>
    <script type='text/javascript' src="./js/modernizr.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/html5shiv.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header></header>
    <div class='calculator container'>
      <div class='user-inputs row'>
        <div class='col-xs-12 text-right'>
          <div class='user-input'>
            Daily Operation Time:
            <input class='slider' data-bind="value: dailyOperationTime, valueUpdate: 'input'" data-slider-max='10' data-slider-min='1' data-slider-step='1' data-slider-value='8' id='daily-op-time' type='text'>
          </div>
          <div class='user-input'>
            Seconds Per Lift:
            <input class='slider' data-bind="value: secondsPerLift, valueUpdate: 'input'" data-slider-max='40' data-slider-min='1' data-slider-step='1' data-slider-value='20' id='seconds-per-lift' type='text'>
          </div>
          <div class='user-input'>
            Amps Per Lift:
            <input class='slider' data-bind="value: ampsPerLift, valueUpdate: 'input'" data-slider-max='300' data-slider-min='100' data-slider-step='5' data-slider-value='200' id='amps-per-lift' type='text'>
          </div>
          <div class='user-input'>
            TC Amps:
            <input data-bind="value: tcAmps, valueUpdate: 'input'" id='tc-amps' name='ampCheckbox' type='checkbox'>
          </div>
        </div>
      </div>
      <div class='results-container row'>
        <div class='results-table-container col-sm-6 col-xs-12'>
          <table class='table table-striped table-hover'>
            <thead>
              <th>Daily Operation Time</th>
              <th>% of Daily Operation With Engine Running</th>
              <th>Hours Engine is Running</th>
              <th>
                <span data-bind='text: tcAmps'></span>
                AMP
                TC Amps
              </th>
              <th>Max Amps Available</th>
            </thead>
            <tbody data-bind='foreach: results'>
              <tr>
                <td>
                  <span data-bind='text: $parent.dailyOperationTime'></span>
                </td>
                <td>
                  <span data-bind='text: engineDailyOperationPercent'></span>
                  <span>%</span>
                </td>
                <td>
                  <span data-bind='text: hoursEngineIsRunning()'></span>
                </td>
                <td>
                  <span data-bind='text: $parent.tcAmps()'></span>
                </td>
                <td>
                  <span data-bind='text: maxAmps'></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class='results-visual-container col-sm-6 col-xs-12'>
          <h3>Maximum Number of Lifts</h3>
          <div class='results' data-bind='foreach: results'>
            <div class='row'>
              <div class='col-xs-12'>
                <div class='progress'>
                  <div class='progress-bar progress-bar-success' data-bind="style {width: percentageTcOnly() + '%'}">
                    <span data-bind='text: Math.round(numberOfLiftsTcOnly())'></span>
                  </div>
                  <div class='progress-bar progress-bar-warning' data-bind="style {width: percentage30Extra() + '%'}">
                    <span data-bind='text: Math.round(numberOfLifts30Extra())'></span>
                  </div>
                  <div class='progress-bar progress-bar-danger' data-bind="style {width: percentage50Extra() + '%'}">
                    <span data-bind='text: Math.round(numberOfLifts50Extra())'></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer></footer>
    <script src='./js/knockout-3.1.0.js'></script>
    <script src='./js/tc-calculator.js'></script>
  </body>
</html>

index.html.haml
!!!
%html
  %head
    %title TrailCharger Calculator
    %meta{:charset => "utf-8"}/
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    / jQuery
    %script{:src => "./js/jquery-1.11.0.min.js"}
    / Latest compiled and minified CSS
    %link{:href => "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", :rel => "stylesheet"}/
    / Optional theme
    %link{:href => "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css", :rel => "stylesheet"}/
    / Latest compiled and minified JavaScript
    %script{:src => "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"}
    / Bootstrap Slider
    %link{:href => "./css/bootstrap-slider.css", :rel => "stylesheet"}/
    %script{:src => "./js/bootstrap-slider.js"}
    / Bootstrap Switch
    %link{:href => "./css/bootstrap-switch.min.css", :rel => "stylesheet"}/
    %script{:src => "./js/bootstrap-switch.min.js"}
    / Custom style
    %link{:href => "./css/style.css", :rel => "stylesheet"}/
    <script type='text/javascript' src="./js/modernizr.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/html5shiv.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

  %body
    %header

    .calculator.container
      .user-inputs.row
        .col-xs-12.text-right

          .user-input
            Daily Operation Time:
            %input#daily-op-time.slider{data: {bind: "value: dailyOperationTime, valueUpdate: 'input'", slider_value: 8, slider_min: 1, slider_max: 10, slider_step: 1}, type: "text"}

          .user-input
            Seconds Per Lift:
            %input#seconds-per-lift.slider{data: {bind: "value: secondsPerLift, valueUpdate: 'input'", slider_value: 20, slider_min: 1, slider_max: 40, slider_step: 1}, type: "text"}

          .user-input
            Amps Per Lift:
            %input#amps-per-lift.slider{data: {bind: "value: ampsPerLift, valueUpdate: 'input'", slider_value: 200, slider_min: 100, slider_max: 300, slider_step: 5}, type: "text"}

          .user-input
            TC Amps:
            %input#tc-amps{data: {bind: "value: tcAmps, valueUpdate: 'input'"}, type: "checkbox", name: "ampCheckbox"}

      .results-container.row
        .results-table-container.col-sm-6.col-xs-12
          %table.table.table-striped.table-hover
            %thead
              %th Daily Operation Time
              %th % of Daily Operation With Engine Running
              %th Hours Engine is Running
              %th
                %span{:data => {bind: "text: tcAmps"}}
                AMP
                TC Amps
              %th Max Amps Available
            %tbody{:data => {bind: "foreach: results"}}
              %tr
                %td
                  %span{:data => {bind: "text: $parent.dailyOperationTime"}}
                %td
                  %span{:data => {bind: "text: engineDailyOperationPercent"}}
                  %span %
                %td
                  %span{:data => {bind: "text: hoursEngineIsRunning()"}}
                %td
                  %span{:data => {bind: "text: $parent.tcAmps()"}}
                %td
                  %span{:data => {bind: "text: maxAmps"}}
        .results-visual-container.col-sm-6.col-xs-12
          %h3 Maximum Number of Lifts
          .results{:data => {bind: "foreach: results"}}
            .row
              .col-xs-12
                .progress
                  .progress-bar.progress-bar-success{data: {bind: "style {width: percentageTcOnly() + '%'}"}}
                    %span{data: {bind: "text: Math.round(numberOfLiftsTcOnly())"}} 
                  .progress-bar.progress-bar-warning{data: {bind: "style {width: percentage30Extra() + '%'}"}}
                    %span{data: {bind: "text: Math.round(numberOfLifts30Extra())"}} 
                  .progress-bar.progress-bar-danger{data: {bind: "style {width: percentage50Extra() + '%'}"}}
                    %span{data: {bind: "text: Math.round(numberOfLifts50Extra())"}} 



    %footer


    %script{:src => "./js/knockout-3.1.0.js"}
    %script{:src => "./js/tc-calculator.js"}
